@import "tailwindcss";

* {
	@apply box-border;
}

html {
	@apply scroll-smooth;
}

body {
	@apply bg-white font-sans text-gray-900 antialiased;
}

::-webkit-scrollbar {
	@apply w-2 h-2;
}

::-webkit-scrollbar-track {
	@apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
	@apply bg-gray-400 rounded hover:bg-gray-500;
}
